body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%; /* Ensures full height for the body */
}

.box-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  left: 0;
  transition: transform 0.1s ease-out; /* Use transform instead of height */
  background-size: cover;
  background-position: center;
  border: 5px solid black;
  box-sizing: border-box;
}


#box1 {
  background-image: url('../../public/images/code.jpg'); /* Set the background image for box1 */
  z-index: 5;
}

#box2 {
  background-image: url('../../public/images/winter.jpg'); /* Set the background image for box2 */
  z-index: 4;
}

#box3 {
  background-image: url('../../public/images/autumn.avif'); /* Set the background image for box3 */
  z-index: 3;
}

#box4 {
  background-image: url('../../public/images/winter.jpg'); /* Set the background image for box4 */
  z-index: 2;
}

#box5 {
  background-image: url('../../public/images/winter.jpg'); /* Set the background image for box5 */
  z-index: 1;
}
.tip-header {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;  /* Text color */
  text-shadow: 
      1px 1px 0px black,  /* Top-Left Shadow */
      -1px 1px 0px black, /* Top-Right Shadow */
      1px -1px 0px black, /* Bottom-Left Shadow */
      -1px -1px 0px black, /* Bottom-Right Shadow */
      0px 1px 0px black,  /* Top */
      0px -1px 0px black, /* Bottom */
      1px 0px 0px black,  /* Right */
      -1px 0px 0px black; /* Left */
      }

.tip-content {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: white;  /* Text color */
  text-shadow: 
      1px 1px 0px black,  /* Top-Left Shadow */
      -1px 1px 0px black, /* Top-Right Shadow */
      1px -1px 0px black, /* Bottom-Left Shadow */
      -1px -1px 0px black, /* Bottom-Right Shadow */
      0px 1px 0px black,  /* Top */
      0px -1px 0px black, /* Bottom */
      1px 0px 0px black,  /* Right */
      -1px 0px 0px black; /* Left */
      }
.box-footer {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: white;  /* Text color */
  text-shadow: 
      1px 1px 0px black,  /* Top-Left Shadow */
      -1px 1px 0px black, /* Top-Right Shadow */
      1px -1px 0px black, /* Bottom-Left Shadow */
      -1px -1px 0px black, /* Bottom-Right Shadow */
      0px 1px 0px black,  /* Top */
      0px -1px 0px black, /* Bottom */
      1px 0px 0px black,  /* Right */
      -1px 0px 0px black; /* Left */
      }