/* General Container */
.home-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif; /* Apply the font here */
  }
  
  /* Header Section */
  .home-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .home-summary p {
    font-size: 1.2em; /* Larger text size for readability */
    line-height: 1.6; /* Improve line spacing for readability */
    margin: 0 auto 20px; /* Add margin for spacing */
    max-width: 700px; /* Limit width for better readability on large screens */
    color: #333; /* Dark gray color for better contrast and readability */
    font-family: 'Roboto', sans-serif; /* Use the modern font */
  }
  
  /* Styling for emphasis */
  .home-summary p span {
    color: #3498db; /* Highlighted color for specific text */
    font-weight: bold; /* Bold text for emphasis */
  }

  
  /* Mobile Responsiveness */
  @media (max-width: 768px) {
    .home-header {
      flex-direction: column;
    }
  
    .profile-image {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .section button {
      font-size: 1em;
    }
  
    .section-content h2 {
      font-size: 1.5em;
    }
  
    .section-content p, .section-content ul {
      font-size: 1em;
    }
  }
  