/* General styles for sections */
.section {
  margin-bottom: 10px;
}

.section button {
  width: 100%;
  padding: 15px;
  font-size: 1.2em;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.section button:hover {
  background-color: #555;
}

.section-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out, padding 0.4s ease-in-out;
  background-color: #ecf0f1;
  padding: 0 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.section-content.open {
  max-height: 1000px; /* Large enough to accommodate the content smoothly */
  padding: 20px;
}


.section-content.open {
  max-height: 1000px; /* Large enough to accommodate the content smoothly */
  padding: 20px;
}

.section-content h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

/* Flexbox layout for education information */
.education-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.university {
  font-weight: bold;
}

.dates {
  font-style: italic;
  color: #666;
}

.degree {
  text-align: center;
  margin-top: 10px;
  font-size: 1.1em;
}
